body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;  
  color: $general-font-color;
  background: $gray-light-darker;
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.main-wrapper {
  margin: 0 auto;
  max-width: 1024px;
	min-height: 100%;
}


.badge {
  display: inline-block;
  font-size: calculateRem(14px); 
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background: $general-font-color;
  &.orange {
    padding: 8px;
    font-size: calculateRem(18px); 
    background: $dark-orange;
  }
  &.orange-dark {
    padding: 8px;    
    font-size: calculateRem(19px); 
    background: $medium-orange;   
  }
}
.bordered-icon {
  display: inline-block;
  padding: 4px 6px;
  font-size: calculateRem(18px); 
  border-radius: 3px;
  border: 1px solid $gray-light-darker;
  &:hover {
    color: $medium-orange;
  }
}

.items-wrap {
  display: none; 
  flex-flow: column;
  &.visible {
    display: flex;     
  }
  .item {
    display: flex; 
    height: 235px;
    margin: 5px 0;
    figure {
      position: relative;
      display: flex;       
      flex: 1;
      justify-content: center;
      align-items: center;
      background: $gray-light;
      .new {
        position: absolute;
        top: 9px;
        left: -10px;
      }
    }
  }

  .item-content {
    flex: 3;
    position: relative;
    padding: 10px;     
    background: #fff;
    h2 {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 4px;
      overflow: hidden;
      margin: 0 0 10px;
      color: $light-blue;
      font-size: calculateRem(25px);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h3 {
      font-weight: bold;
      margin: 36px 0 10px;    
    }
    .has-balcony {
      position: absolute;
      top: 70px;
      left: 10px;
    }
    .bordered-icon {
      position: absolute;
      top: 10px;
      right: 12px; 
      width: 16px;
      text-align: center;
      &.star {
        top: 43px;        
      }     
    }
  }
  .parameters-wrap {
    display: flex; 
    margin: 47px 0 10px;
    background: $gray-light;
    .param-item {
      flex: 1;
      padding: 13px 0;
      text-align: center;
      border-left: 1px solid $gray-light-darker;
      &:first-child {
        border-left: 1px solid $gray-light;        
      }
    }
    .param-label {
      padding: 0 0 7px;
      font-size: calculateRem(14px);      
    }
    .param-body {
      font-weight: bold;
      font-size: calculateRem(18px);
    }
    .area-format {
      position: relative;
      display: inline-block;
      sup {
        position: absolute;
        right: -5px;
        top: -3px;
        font-size: calculateRem(10px);
      }
    }
  }
}

/* Loader */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}