body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;  
  color: $general-font-color;
  background: $gray-light-darker;
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.main-wrapper {
  margin: 0 auto;
  max-width: 1024px;
	min-height: 100%;
}


.badge {
  display: inline-block;
  font-size: calculateRem(14px); 
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background: $general-font-color;
  &.new {
    padding: 8px;
    font-size: calculateRem(18px); 
    background: $dark-orange;
  }
}
.items-wrap {
  display: flex; 
  flex-flow: column;
  .item {
    display: flex; 
    height: 200px;
    margin: 5px 0;
    figure {
      position: relative;
      display: flex;       
      flex: 1;
      justify-content: center;
      align-items: center;
      background: $gray-light;
      .new {
        position: absolute;
        top: 9px;
        left: -10px;
      }
    }
  }

  .item-content {
    flex: 3;
    padding: 10px;
    background: #fff;
    h2 {
      margin: 0 0 10px;
      color: $light-blue;
      font-size: calculateRem(25px);
    }
    h3 {
      font-weight: bold;
      margin: 0 0 10px;    
    }
  }
}
